### Markdown (README.md, LICENCE.md 제외)
*.md
!README.md
!LICENCE.md

### Documentation
docs/

.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
#**/src/test
**/src/main/generated
.deploy/
.githooks/

### Eclipse ###
.classpath
.project
.factorypath
.settings/
bin/

### Claude Code ###
.claude/
.playwright-mcp/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### project
*.yml
!*.github/
!.github/workflows/
!.github/workflows/*.yml

###
**/**/src/main/resources/cert/